@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

/* Set font to Roboto */
html,body,p,ul,ol,li,tr,td,th,label,.form-item label,input,textarea,strong {
  font-family: 'Roboto', sans-serif;
}

.site-header .site-branding {
  background: #fff;
}
.site-header .site-branding .site-logo {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  display: block;
  height: auto;
  padding: 0 0 .4em 0;
}
.site-header .site-logo img {
  height: auto;
  max-width: 100%;
}
.site-header .site-name {
  display: none;
}

.page .content p {
  letter-spacing: 0;
}
.content em {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
.page .content strong {
  font-weight: 700;
}

body .page-wrapper:after {
  content: '';
}
.primary-content .contact-form  {
  background: #ff5900;
  color: #fff;
  padding: 2em 0 1.4142em 0;
}
.primary-content .contact-form p {
  color: #fff;
}
.primary-content .contact-form .form-submit {
  color: #ff5900;
  background-color: #fff;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.14em;
  box-shadow: .25em .25em 0 rgba(0,0,0,.1);
  max-width: 52%;
  padding: 1.14em;
}

.primary-content .contact-form .form-submit:hover {
  background: #000;
}
.primary-content .content ul {
  padding-left:3em;
}
.contact-form .messages .error { background: #900; border: 2px solid #700; }

.content h1,
.primary-content header .title, 
.content h2, 
.content h3 {
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.content h1 {
  max-width: 720px;
}
.header-nzf h1 {
  text-align: center;
  margin: 0 0 .5em 0;
}
.header-nzf h1 .last {
  color: #ff5900;
  display: block;
}
/* links */
.page a,
.page a:link,
.page a:visited {
  color: #ff5900;
}
.content a:hover {
  border-bottom: 2px solid #ff5900;
}
/* forms */
.form-type-checkbox input:checked + label {
  color: #000000;
}
.form-type-checkbox input:checked + label:before {
  color: #ff5900;
  border-color: #000;
}
.primary-content .contact-form .webform-component--disclaimer p,
.primary-content .contact-form .webform-component--disclaimer a,
.primary-content .contact-form .webform-component--disclaimer a:link,
.primary-content .contact-form .webform-component--disclaimer a:visited {
  color: #888;
  color: rgba(1,1,1,.4);
}

.contact-form .form-item .form-text, 
.contact-form .form-item .form-textarea {
  background: #fff;
  font-size: 1.14em;
  border-bottom: 3px solid #D04800;
}

.page .contact-form .form-actions {
  padding-top: 1em;
}

.page .contact-form .form-type-checkbox label {
  width: auto;
}

.contact-form .webform-component--toelichting {
  color: #888;
}
.page .contact-form .form-text {
  background: #fff;
}
.contact-form .webform-confirmation a {
  color: #ff59000;
  font-weight: 700;
  background: #fff;
  display: inline-block;
  padding: .2em .35em;
}

.page-node-81 .content .pane-2 .social li,
.content .pane-sp-social .social li {
  height: 73px;
}

.content .links {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

/* Actie page menu */
.content .menu {
  overflow: hidden;
}
.content .menu li {
  display: inline-block;
}
.content .menu li a {
  padding: .4em .72em;
  display: inline-block;
  border: 1px solid #f60000
}
.content .menu li a.active {
  display: inline-block;
  border: 1px solid #bbb;
}

.webform-component--postcode .form-text,
.webform-component--huisnummer .form-text {
  width: 160px;
}

ul.sp_buttons {
  font-family: Roboto, 'Sans serif';
  font-weight: 700;
  text-transform: uppercase;
}

.primary-content .sp_buttons li {
  font-size: 1em;
  list-style: none;
  float: left;
}

.sp_buttons li a {
  margin-right: .4em;
  padding: .4em .72em;
  color: #fff;
  display: block;
  border: 1px solid #f60000;
  text-align: center;
  background: #f60000;
}

.sp_buttons li a:hover {
  border: 1px solid #000;
  color: #fff;
  background: #000000;
  transition: .4s;
}

.sp_buttons:after {
  content: '';
  display: block;
  clear: both;
}

.page-wrapper:after {
  display: none;
}

.page .social-share li span {
  background: #ff5900;
}
.site-footer {
  background: #f1f1f1;
  padding: .71em;
  margin-top: .71em;
}
.site-footer .copyright {
  border: none;
  font-size: 1em;
  max-width: 480px;
}

.page nav.top-nav a {  
  background: #ff5900;
  color: #fff;
}

/* Agenda overview */
.content .agenda-overzicht .views-row-first{
  border-top: 4px solid #ddd;
  margin-top: 1.4em;
}
.agenda-overzicht .views-row {
  border-bottom: 4px solid #ddd;
  max-width: 960px;
  margin: 0 auto;
  padding: .71em 0 1.4em 0;
}

/* Agenda node */
.content .node-actie-agenda .field-datum {
  padding: 1rem 1.4rem 0 1.4rem;
  text-transform: capitalize;
  max-width:916px;
  background:#f1f1f1;
}
.content .node-actie-agenda  .field-locatie {
  padding: 0 1.4rem 1rem 1.4rem;
  max-width:916px;
  background:#f1f1f1;
  margin-bottom: 1rem;
}

/* Manifest */
.personen {
  max-width:916px;
  margin:0 auto;
  overflow:hidden;
}
.persoon {
  background:#f1f1f1;
  margin-bottom:10px;
  margin-right:10px;
  max-width:295px;
  width:100%;
  float:left;
  text-align:center;
  border:1px solid #ddd;
}
.content .persoon img {
  display:inline;
}
.persoon .naam {
  font-weight:800;
  display:block;
}
.persoon .functie {
  font-size:0.8em;
  padding-bottom:10px;
  display:block;
}
/* Meer weten */
.more-nav {
  background:#f1f1f1;
  color:#ff5900;
  padding: 1.14em;
  position:fixed;
  bottom:0;
  left: 0;
  width:100%;
  text-align:center;
  z-index: 1;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 2em rgba(120,80,1,.3);
}
.content a.more-nav:hover {
  border: none;
}

/* bezoeker-menu */

.bezoeker-menu {
  background: #f1f1f1;
  text-align: center;
}
.content .bezoeker-menu .menu li a {
  border: none;
  background: #fff;
  box-shadow: .25em .25em 0 rgba(0,0,0,.1);
  border-radius: 3px;
}
.content .bezoeker-menu li:hover a:hover {
  background: #000;
  color: #ff5900;
}

.content a:hover {
  border-bottom: 2px solid #ff5900;
}
.content .menu {
  margin: 0;
  padding-top: 0.4rem;
}
.site-footer {
  margin: 0;
}

/* NZF Tijdlijn */
.page-tijdlijn .site-header .site-branding .site-logo {
  max-width: 500px;
}
#nzf-timeline-frame {
}
.view-id-tijdlijn h3 {
  text-align:center;
  font-size:3em;
  background:#ff5900;
  color:#fff;
  width:250px;
  margin:0 auto;
  padding:10px;
  border:5px solid #ff5900;
  border-radius:25px;
}
#nzf-timeline-wrapper-first,
#nzf-timeline-wrapper,
#nzf-timeline-wrapper-last {
  min-height:430px;
  max-width:1200px;
  margin:0 auto;
  position:relative;
  border-bottom:5px solid #fff;
}
#nzf-timeline-wrapper-first {
  min-height:360px;
}
.nzf-timeline-friends {
  width:45%;
  height:300px;
  float:left;
  text-align:right;
  position:absolute;
  left:0%;
  display:none;
}
.nzf-timeline-line-first,
.nzf-timeline-line-last,
.nzf-timeline-line {
  width:10%;
  min-height:360px;
  float:left;
  text-align:center;
  position:absolute;
  left:45%;
  z-index:1;
}
.nzf-timeline-line-last:after {
  max-height:76px;
}
.nzf-timeline-line-first:after,
.nzf-timeline-line-last:after {
  content:"";
  position:absolute;
  top: 0;
  bottom: 0;
  left: 47%; /*betere uitlijning nodig */
  border-left: 5px dotted #ff5900;
}
.nzf-timeline-dot-first,
.nzf-timeline-dot {
  height: 34px;
  width: 34px;
  background: #fff;
  left: 50%;
  transform: translate(-50%,0);
  border-radius: 25px;
  position: absolute;
  z-index: 2;
  margin-top:80px;
  border:5px solid #ff5900;
}
.nzf-timeline-dot-last {
  height: 50px;
  width: 50px;
  background: #fff;
  left: 50%;
  transform: translate(-50%,0);
  position: absolute;
  z-index: 2;
  margin-top:72px;
}

.nzf-timeline-dot-line {
  background:#ff5900;
  position:absolute;
  left:50%;
  height:5px;
  width:50%;
  margin-top:95px;
}

.nzf-timeline-item {
  width:44%;
  padding:30px;
  overflow:hidden;
  float:left;
  position:absolute;
  left:55%;
  margin-top:20px;
  border:5px solid #ff5900;
  border-radius:25px;
  text-align:justify;
  background:#fff;
}
.nzf-timeline-item img {
  max-height:275px;
  border:1px solid #eaeaea;
}
#nzf-timeline-wrapper-last .nzf-timeline-meta,
#nzf-timeline-wrapper .nzf-timeline-meta{
  font-size:0.8em;
  text-transform:uppercase;
}
#nzf-timeline-wrapper-first h1,
#nzf-timeline-wrapper-last h1,	
#nzf-timeline-wrapper h1{
  padding:0 1.4rem;
  margin:0;
}

.views-row-even .nzf-timeline-friends  {left:55%;}
.views-row-even .nzf-timeline-item     {left:1%;}
.views-row-even .nzf-timeline-dot-line {left:0%;}

#nzf-timeline-wrapper:after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 49.7%;
  left: calc(50% - 2.5px);
  z-index:-1;
  border-left: 5px dotted #ff5900;
}

@media only screen and (max-width: 960px) {
  #nzf-timeline-wrapper {
    overflow:hidden;
    min-height:100%;
    padding-bottom:45px;
  } 
  .views-row-even .nzf-timeline-friends {left:0%;}
  .view-id-tijdlijn h3 {
    text-align: center;
    font-size: 3em;
    margin: 0 auto;
    padding: 10px;
  }
  .nzf-timeline-dot,
  .nzf-timeline-dot-last,
  .nzf-timeline-dot-line {
    display:none;
  }
  .views-row-even .nzf-timeline-item,
  .nzf-timeline-item {
    margin-top:50px;
    left:50px;
    position:relative;
    width:calc(100% - 100px);
  }
  .views-row-even .nzf-timeline-dot-line {
    left:55%;
  }
  .nzf-timeline-line-first, .nzf-timeline-line-last, .nzf-timeline-line {
    z-index:-1;
  }

}
@media only screen and (max-width: 520px) {
  .nzf-timeline-item {
    padding: 10px;
  } 
  .nzf-timeline-item p {font-size:1em!important;}
  .views-row-even .nzf-timeline-item, .nzf-timeline-item {
    left: 10px;
    width: calc(100% - 20px);
    text-align:left;
  }
  .view-id-tijdlijn h3 {height: 84px;}
  .nzf-timeline-line-first, .nzf-timeline-line-last, .nzf-timeline-line {min-height: 525px;}
}  
@media only screen and (max-width: 400px) {
  #nzf-timeline-wrapper h1 {
    font-size:1.5em;
  }
}


/* Manifest adjustments */
@media only screen and (max-width:914px) {
  .personen {
    max-width:610px;
  }
  .persoon .naam {
    padding-top:20px;
  }
  .content .persoon img {
    max-width:100px;
    float:left;
    margin-bottom:0;
  }
}
@media only screen and (max-width:610px) {
  .personen {
    max-width:296px;
  }
}

/* Mobile adjustments */

.no-touch .content .social .whatsapp {
  display: none;
}

@media only screen and (max-width: 425px) {
  .site-header .site-branding .site-logo {
    margin: 0; 
  }
  .primary-content header .title {
    font-size: 1.5em;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
  .page .social-share ul { 
    position: absolute;
    top: 0;
  }
  .page .social-share ul span {
    display: none;
  }
}

/* Tablet adjustments */
@media only screen and (min-width: 768px) { 
  .site-header .site-branding .site-name {
    font-size: 2.8em;
    padding-top: 3px;
  }
  .site-header .site-branding .site-logo {
    height: auto;
  }
  .header-nzf h1 {
    font-size: 3.6em;
  }
}

/* Big screen adjustments */
@media only screen and (min-width: 1080px) {
  .site-header .site-branding .site-logo {
     height: auto;
     max-width: 620px;
     padding: 1.14em 0;
  }
}

/* Paper webform */
.page-papier .site-header .site-branding .site-logo {
  max-width:280px;
}
