html {
  background: #fafafa;
}

body {
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, 'Roboto Sans', 'Segoe UI', Arial, 'Lucida Grande', sans-serif;
  max-width: 960px;
  height: 100%;
  min-height: 320px;
  margin: 0 auto;
  color: #333;
  line-height: 1.32;
  padding: .4em 1em;
}

img {
 max-width: 100%;
 height: auto;
}

h1,h2,h3 {
  font-weight: bold;
  line-height: 1.14;
}
h2.slogan {
  color: #f60000;
  text-align: center;
}

li {
  margin-bottom: .4em;
}
div {
  content: '<div>';
  border: 1px dashed #ddd;
}
.actions:before {
  content: '[vervolg-stappen]';
  display: block;
  font-size: 9px;
  color: #aaa;
  text-align: left;
}
.actions {
  text-align: center;
  padding: .4em;
  border: 1px dashed #ddd;
}
.actions li {
  margin: .4em;
  list-style: none;
}
.actions li a,
.actions li a:link,
.actions li a:visited {
  display: inline-block;
  color: #f60000;
  border: 1px solid #f60000;
  text-decoration: none;
  font-weight: bold;
  padding: .4em; 
}

