/* =========================================================================
   Basic Drupal form elements
   ========================================================================== */

.form-item,
.form-actions {
  padding: .4em 1.4em;
  max-width: 100%;
  box-sizing: border-box;
}
.form-item:first-of-type {
  padding-top: 0; 
}
.form-item label {
  display: block;
  padding: 0 .4em 0 0;
  font-weight: normal;
  font-family: HelveticaNeueLTStd-BdCn, 'Sans serif';
}
.form-item input {
  outline: none;
  max-width: 100%;
}
.form-item .form-required {
  color: #f60000;
}
.form-item .form-text,
.form-item .form-textarea {
  width: 100%;
  padding: .72em;
  background: #eee;
  color: #333;
  border: none;
  border-bottom: 2px solid #d1d1d1;
  font-family: HelveticaNeueLTStd-Md, Sans-serif;
}
.form-item .form-text:focus {
  background: #fff;
  border-color: #f60000;
}
.form-item .description {
  color: #aaa;
  font-size: .9em;
  padding: .4em;
}
.form-item:hover .description {
  color: #333;
}
.form-item input[type="password"] {
  font-family: mono;
}
.form-item select {
  background: #f1f1f1;
  border: none;
  padding: .4em;
}

.form-submit {
  font-family: HelveticaInseratLTPro, Impact, 'Sans serif';
  font-weight: normal;
  text-transform: uppercase;
  background: #f60000;
  margin-right: .4em;
  padding: .4em .72em;
  color: #fff;
  border: 1px solid #d00;
}
.form-submit:hover {
  background: #000;
  color: #fff;
  border: 1px solid #000;
}

/* Form item checkbox */
.form-checkboxes {
  padding: .72em .4em;
}
.form-type-checkbox {
  padding: .4em 0;
}
.form-type-checkbox:last-of-type {
	padding-bottom: 0;
}
.form-type-checkbox label {
  display: block;
}
.form-type-checkbox input[type="checkbox"] {
  display:none;
}
.form-type-checkbox input[type="checkbox"] + label:before {
  display:inline-block;
  font-family: 'SPruit-icons'; 
  content: 'v';
  color: #fff;
  background: #fff;
  padding: .14em .32em;
  margin-right: .72em;
  border: 2px solid #333;  
  border-radius: .14em;
  font-size: .92em;
}
.form-type-checkbox input:checked + label {
  color: #f60000;
}
.form-type-checkbox input:checked + label:before {
  content: 'v';
  color: #f00;
  background: #fff;
  border-color: #f00;
}

.no-touch .form-type-checkbox:hover input + label:before {
  color: #333;
}
.no-touch .form-type-checkbox:hover input:checked + label:before {
  color: #f60000;
}

/* Errors 
-----------------------------------------------------------------------------*/
.form-item .form-text.error {
  background: #fee;
  border-bottom: 2px solid #f66666;
}


/* Forms in primary content 
-----------------------------------------------------------------------------*/
.primary-content form {
  max-width: 960px;
  margin: 0 auto;
}

.primary-content fieldset {
  padding: 0 1.4em 1em 1.4em;
  margin-bottom: 1em;
}

.primary-content legend {
  padding: .4em .72em;
  font-family: HelveticaNeueLTStd-Md, Sans-serif;
}

/* User login */

#user-login .description,
#user-login .form-required {
  display: none;
}
#user-login label {
  font-family: HelveticaNeueLTStd-BdCn, 'Sans serif';
  font-weight: normal;
  display: block;
  padding: 0 0 .4em 0;
  text-align: left;
}
#user-login #edit-name,
#user-login #edit-pass {
  width: 100%;
}
#user-login .form-submit {
  display: block;
  float: right;
  font-size: 1.14em;
  padding: .72em 1.14em;
  margin: 0;
  margin-top: 1.4em;
}

.not-logged-in.page-user .tabs ul {
  padding: 1em 0;
}
.not-logged-in.page-user .tabs li {
  margin: 0;
}
.not-logged-in.page-user .tabs a {
  text-align: center;	
}
.not-logged-in.page-user .site-footer {
  display: none;
}

#user-login,
.not-logged-in.page-user .tabs,
.not-logged-in.page-user header .title {
	width: 96%;
	margin: 0 auto;
	max-width: 768px;
}
.not-logged-in.page-user .primary-content {
	margin: 1.4em 0;
}

#user-pass {
  text-align: center;
}

#user-pass label {
  display: block;
  width: 100%;
  padding: .4em 0;
}

.login-forgot a {
  font-family: HelveticaNeueLTStd-BdCn, 'Sans serif';
  border: 2px solid #aaa;
  color: #aaa;
  display: inline-block;
  padding: .14em .4em;
  margin: 1em 0;
}

.primary-content .form-item p {
  padding: 0;
}

.login-forgot a:hover {
	border-color: #222;
	background: #000;
	color: #fff;
}

.grippie {
	display: none !important;
}

.node-actie-webform header {
	display: none;
}

/* =========================================================================
   Webform module elements
   ========================================================================== */

.content .contact-form form{
  width: 100%;
  max-width: 610px;
  margin: 0 auto ;
  padding: 0 0 1.4em 0;
}
.contact-form .form-actions .form-submit {
  margin: 0 auto !important;
  display: block;
  width: 72%;
  padding: 1em 0;
}
.contact-form .webform-component--disclaimer {
  padding: 0;
}
.contact-form .webform-component--disclaimer p{
  font-size: .72em;
  color: #888;
  text-align: center;	
}
.contact-form .webform-component--disclaimer a,
.contact-form .webform-component--disclaimer a:link,
.contact-form .webform-component--disclaimer a:visited {
  color: inherit;
  border-bottom: 1px solid #aaa;
}
