.page {
  min-height: 100vh;
}

.page main {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1.4em;
}

/* Decorative footer-tomato, for decorative purposes */
.page-wrapper:after {
  font-family: SPruit-Icons;
  content: 'T';
  line-height: 1;
  display: block;
  height: 32px;
  color: #f60000;
  overflow: hidden;
  width: 100%;
  text-align: center;
  font-size: 45px;
}

.front .node-teaser {
  border-bottom: 1px solid #aaa;
}

/* Default drupal pages */
.page-user .content .profile{
  max-width: 960px;
  margin: 0 auto;
}

/* Forms of highlighting */
.stand-out {
  background: #f60000;
  padding: 1.4em;
  color: #fff;
}

.stand-out h2{
  color: #fff;
  margin: 0;
}

.stand-out .form-submit {
  background: #000;
}

.stand-out .messages {
  max-width: 960px;
  margin: 1em auto 0 auto;
  padding: 1em ;
  background: #Fff;
  color: #f60000;
  text-align: center;
}

.stand-out textarea,
.stand-out .description,
.stand-out .description:hover {
  color: #333;
}
