@media only screen and (max-width: 480px) {
  .page-wrapper:after {
    padding-top: .4em;
    position: relative !important;
  }
  .site-header {
    background: #fff;
  }
  .site-header .search-toggle {
    width:60px;
    border-top: none;
  }
  /* Collapsible navigation menu */
  .site-navigation .menu {
    display: none;
    top: 0;
    left: 0;
    background: #fff;
  }
  .site-navigation .menu li {
    display: block;
    text-align: left;
    width: 100%;
  }
  .site-navigation .menu li a {
    font-size: 1.14em;
    border-bottom: 1px solid #f60000;
    display: block;
    font-weight: normal;
  }
  .site-navigation  .menu-toggle {
    display: block;
    position: absolute;
    top: 1.14em;
    right: 3.8em;
  }
  .site-navigation  .menu-toggle button {
    display: block;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
  .site-navigation  .menu-toggle button .text {
    display: none;
  }
  .site-navigation  .menu-toggle button:after {
    font-family: 'SPruit-icons';
    content: '\e900';
    display: block;
    float: right;
    border: 1px solid #f60000;
    background: #fff;
    color: #f60000;
    font-size: 30px;
    padding: 0;
    margin: 0;
    line-height: .94;
    height: 32px;
    width: 37px;
  }
  .content .vimeo-video iframe {
    height: 186px;
  }
}
