// CONTENT

// LEGACY
.content a,
.content a:link {
  text-decoration:  none;
  color: #f60000;
}
.content a:hover {
  border-bottom: 2px solid #f60000;
}

.content h1 {
  font-size: 2em;
}

.content header {
  margin: 2em 0 0 0;
}

.content header .title {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 1.4142rem;
  padding-right: 1.4142rem;
}

.content table td {
  padding: .71em;
  text-align: left;
}
.content table thead {
  background: #eee;
}

.block header .title {
  padding: 0;
}
.content .title a {
  text-decoration: none;
  color: inherit;
}

/* Body sections in Primary content*/
.primary-content .content p,
.primary-content .content ul,
.primary-content .content ol,
.primary-content .content h1,
.primary-content .content h2,
.primary-content .content h3,
.primary-content .content h4,
.primary-content .content h5,
.primary-content .content h6,
.primary-content .content blockquote,
.primary-content .content table,
.primary-content .content pre,
.primary-content .content code,
.primary-content .content dl,
.primary-content .content dt,
.primary-content .content .meta
{
  display: block;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.primary-content .content .field,
.primary-content .content blockquote {
  display: block;
  max-width: 960px;
  margin: auto;
  padding: 0;
}

.primary-content .block-system,
.primary-content .article-content .body {
  max-width: 100%;
}

.primary-content header .title {
  font-size: 2.83em;
  margin: 0 auto;
  padding: .35em;
  max-width: 960px;
}

.primary-content .content p {
  font-size: 1.13em;
  line-height: 1.4142;
  letter-spacing: .03em;
  margin-top: 0;
  margin-bottom: .5em;
}

.content .meta {
  text-transform: uppercase;
  font-size: .9em;
  padding: 1em 0;
}

.primary-content ul,
.primary-content ol{
  padding-left: .4em;
}
.primary-content li {
  padding-bottom: .4em;
  font-size: 1.14rem;
}

.primary-content .body ul li {
 list-style: none;
 padding-left: 2.1em;
}
.primary-content .body ol li {
  margin-left: 1.7em;
}
.primary-content .body ul ul li {
  list-style: disc;
  padding-left: 0;
}

.primary-content .content ul ul,
.primary-content .content ul ol,
.primary-content .content ol ul,
.primary-content .content ol ol
{
  padding-top: .71em;
  padding-left: 3.1em;
}

.primary-content .content ul ul li:before {
  content: "";
  padding-right: 0;
  font-weight: normal;
  line-height: 0;
  color: #aaa;
}

/* Body sections in Secondary content*/

.secondary-content .content p,
.secondary-content .content ul,
.secondary-content .content ol,
.secondary-content .content h1,
.secondary-content .content h2,
.secondary-content .content h3,
.secondary-content .content h4,
.secondary-content .content h5,
.secondary-content .content h6,
.secondary-content .content blockquote,
.secondary-content .content form,
.secondary-content .content table,
.secondary-content .content pre,
.secondary-content .content code,
.secondary-content .content dl,
.secondary-content .content dt,
.secondary-content .content .meta,
.secondary-content .title
{
  display: block;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}
