// SOCIAL SHARE (old)
.primary-content .content .social-share ul {
  padding: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.social-share ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 190px;
  right: 0;
}
.social-share li {
  padding: 0;
  margin: 0;
}
.social-share li a:link,
.social-share li a:visited,
.social-share li a:active {
  font-family: "SPruit-icons";
  font-size: 1.5rem;
  line-height: 42px;
  text-align: center;
  display: block;
  background-color: #fff;
  color: #8c8c8c;
  float: right;
  width: 42px;
  height: 42px;
}
.social-share li a:hover {
  color: #ff5900;
  border-bottom: none;
}
.social-share li span {
  font-family: "HelveticaNeueLTStd-BdCn", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
  text-align: center;
  background: #ff5900;
  line-height: 42px;
  color: white;
  z-index: -500;
  position: fixed;
  right: -160px;
  margin-left:0;
  width: 160px;
  font-size: 1rem;
  transition: margin 0.4s ease;
}
.social-share li a:hover span {
  margin-right: 202px;
  transition: margin 0.4s ease;
}

/* Share links in content */
.content ul.social {
  padding: 0; 
}
.content .social li a,
.content .social li a:link,
.content .social li a:visited {
  border: none;
}
.content .social .facebook a,
.content .social .facebook a:link,
.content .social .facebook a:visited {
  background: #3b5998;
  color: #fff;
}
.content .social .twitter a,
.content .social .twitter a:link,
.content .social .twitter a:visited {
  background: #55acee;
  color: #fff;
}
.content .social .whatsapp a,
.content .social .whatsapp a:link,
.content .social .whatsapp a:visited, {
  background-color: #43d854;
  color: #fff;
}
.content .social a:hover {
  background: #000;
  border-color: #000;
}

/* alleen voor mobiel laten zien */
.no-touch .social-share .whatsapp {
  display: none;
}
