// ZORGMETER
$tooltip-width: 360px;

.zorgmeter {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  .th {
    font-weight: 800;
    border-bottom: 2px solid #000;
  }
  .ti {
    text-align: right;
    border-right: 2px solid #000;
    padding-right: .5rem;
  }
  > div {
    padding: 2px;
  }
  .tooltip {
    background: coral;
    cursor: pointer;
    border: 1px solid #00000047;
    min-width: 26px;
  }
  .tooltip span {
    visibility: hidden;
    text-align: center;
   
    // Position tooltip
    position: absolute;
    z-index: 1;
    width: 360px;
    padding: .5rem;

    border:4px solid $nzf;
    border-radius: 8px;
    box-shadow:2px 4px 5px #5f5f5f;
    background-color: #fff;
    color: #000;

  }
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover span {
    visibility: visible;
  }

  // td colors
  .green {
    background: green;
    &:hover {
      background: lighten(green, 10%);
    }
  }
  .orange {
    background: orange;
    &:hover {
      background: lighten(orange, 10%);
    }
  }
  .red {
    background: red;
    &:hover {
      background: lighten(red, 10%);
    }

  }
}

@media screen and (max-width: $tooltip-width * 2){
  .zorgmeter {
    font-size: 0.8rem;
    .tooltip > span {
      width: 96vw;
      left: 2vw;
      right: 2vw;
      margin-top: 24px;
    }
  }
}
@media screen and (min-width: $tooltip-width * 2){
  .zorgmeter {
    grid-template-columns: auto 80px 80px 80px 80px 80px 80px 80px;
    .tooltip {
      position: relative;
    }
    .tooltip > span{
      width: 360px;
      top: 120%;
      left: 50%;
      margin-left: -180px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }
  }
}